<nav id="nav" class="row">
  <!-- LEFT SIDE -->
  <div class="left side col-12 col-md-2">

  </div><!-- END OF LEFT SIDE -->

  <!-- CENTER SIDE -->
  <div class="center side col-12 col-md-8">
    <!-- LIST OF OPTIONS -->
    <ul id="listOfOptions">
      <!-- OPTION -->
      <li class="option" *ngFor="let op of options">
        <!-- LINK -->
        <a href="" class="link">{{ op }}</a>
      </li><!-- END OF OPTION -->
    </ul><!-- END OF LIST OF OPTIONS -->
  </div><!-- END OF CENTER SIDE -->

  <!-- RIGHT SIDE -->
  <div class="right side col-12 col-md-2">

  </div><!-- END OF RIGHT SIDE -->
</nav><!-- END OF NAV -->
